In [1]:
import sqlite3

In [6]:
connector = sqlite3.connect('weatherdatabase.db')
cur = connector.cursor()

cur.execute('''
CREATE TABLE IF NOT EXISTS Weather (
    id INTEGER PRIMARY KEY,
    recordDate DATE,
    temperature INTEGER
)
''')

weather_data = [
    (1, '2015-01-01', 10),
    (2, '2015-01-02', 25),
    (3, '2015-01-03', 20),
    (4, '2015-01-04', 30)
]

cur.executemany('INSERT INTO Weather (id, recordDate, temperature) VALUES (?, ?, ?)', weather_data)
connector.commit()

In [7]:
query = '''
SELECT W1.id
FROM Weather W1, Weather W2
WHERE W1.recordDate = DATE(W2.recordDate, '+1 day')
AND W1.temperature > W2.temperature
'''

cur.execute(query)
result = cur.fetchall()

In [10]:
print("id")
for row in result:
    print(row[0])

connector.close()

id
2
4